body {
    font-family: Arial, sans-serif;
    background-image: url(https://png.pngtree.com/background/20230823/original/pngtree-mountainous-landscape-3d-rendering-of-a-stunning-forest-lake-picture-image_4791539.jpg);
    /* Добавляем фоновое изображение */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    /* Полупрозрачный фон для формы */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#message {
    margin-top: 20px;
    color: #d9534f;
}

ol {
    background-color: white;
    border-radius: 10%;
}